.box {  
    height: 97vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5, 3fr) 1fr;
    gap: 0px 0px;

    grid-template-areas:
      "n c c c c c"
      "n c c c c c"
      "n c c c c c"
      "n c c c c c"
      "n c c c c c"
      "n c c c c c"
  }
  
.notebook { 
  grid-area: n;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6,1fr);
  background-color: rgb(134, 38, 181);
}

.notebookHeader p {
  word-wrap: break-word;
  background-color: rgb(143, 43, 113);
  margin-left: 5%;
  font-size: 26px;
}

.friend p {
  word-wrap: break-word;
  background-color: rgb(217, 84, 193);
  margin-left: 5%;
  font-size: 26px;
}

  
.chat {
 
    grid-area: c; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    background-color: lightgray;
  }

.my p {
  display: inline-block;
  word-wrap: break-word;
  background-color: green;
  margin-left: 20%;
  margin-right: 2%;
  font-size: 26px;
  position: absolute;
  right: 0px;
}

.companion p{
  /* display: inline-block; */
  word-wrap: break-word;
  background-color: grey;
  margin-left: 2%;
  margin-right: 20%;
  font-size: 26px;

}


.inputArea {
    grid-area: i; 
    height: 50px;
    bottom: 0px;

}

#text2send {
  /* display: inline-block; */
  width: 90%;
  height: 90%;
  border: 2px solid darkgray;

  position: absolute; 
  bottom: 0px; 
  left: 0px;
}

#button2send {
  display: inline-block;
  width: 10%;
  height: 100%;
  border: 3px solid darkgray;
  position: absolute; 
  bottom: 0px; 
  right: 0px;
  background-color: rgb(134, 38, 181);
}
#button2send span {
  display: block;
  padding-top: 22px;
  text-align: center;
  line-height: 1em;
}
