#container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    /* "h h h h h h""s s m m m m""s s m m m m""s s m m m m""s s f f f f"; */
    /* "h h h h h h""f f m s s s""f f m s s s""f f m s s s""f f m s s s"; */
    "h h f f s s""h h f f s s""h h . . s s""h h m m s s""h h m m s s";
    
}
.head{
    grid-area: h;
    grid-gap: 10px;
    background-color: gold;
}

.side-nav{
    grid-area: s;
    grid-gap: 10px;
    background-color: chocolate;
}

.main{
    grid-area: m;
    grid-gap: 10px;
    background-color: cyan;
}

.foot{
    grid-area: f;
    grid-gap: 10px;
    background-color: lightgrey;
}